body {

   
    background: #99ccff;
    font-family:"Times New Roman", Times, serif;
}




.side-by-side {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  flex-wrap: wrap; 
}

.side-by-side figure {    /* puts cap by pic*/
  text-align: left;
  max-width: 400px;     /* */
}
.intro {                     /*does layout in about me */
  text-align: left;
  max-width: 700px;
  margin: 40px auto 40px 60px;
}

.about-img {
  width: 260px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: block;
}

.intro h2 {
  font-size: 1.8em;         /*percent of normal text */
  margin-bottom: 15px;
}

.intro p {
  background-color: #f5f5f5;
  border-radius: 12px;
  padding: 20px;
  font-size: 1.1em;
  line-height: 1.6;
  color: #333;
  display: inline-block;
  text-align: left;
}


nav ul {            /* nav bar style */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {          /* rainbow nav bar*/
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  background-size: 400% 400%;
  color: white;
  animation: rainbowMove 3s linear infinite;
}

@keyframes rainbowMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.navinfo {
  background-color: #f5f5f5;
  border-radius: 12px;
  
  padding: 20px;
  font-size: 1.1em;
  line-height: 1.5;
  color: #333;
  max-width: 700px;
  margin: 30px auto 30px 60px;
  text-align: left;
}

.resume-page section {
    background-color: #ffffff;
    border: 5px double #003366;
    border-radius: 15px;
    width: 50%;
    margin: 25px auto;
    padding: 20px;
    
}

.resume-page h2 {
    border-bottom: 2px solid #003366;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #003366;
    text-align: center;
}

.resume-page h3 {
    color: #004080;
    margin-top: 10px;
}

.resume-page p,
.resume-page li {
    font-size: 16px;
    line-height: 1.5;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

figure {
    text-align: center;
    width: 300px;
}

img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.2s ease;
}


figcaption {   /* pic captions*/
    font-size: 16px;
    color: #000000;
    font-style: italic;
    margin-top: 8px;
}
.essay {
  background-color: #ffffff;
  border: 5px double #003366;
  border-radius: 15px;
  width: 90%;
  max-width: 900px;
  margin: 25px auto;
  padding: 20px;
}
.essay p {
  font-size: 1.2em;
  line-height: 1.6;
}


