body {

    /*background:papayaWhip*/
    background: #99ccff;
    font-family:"Lucida Console", "Courier New", monospace;;
}

div.side-by-side {
    display: flex;
}

img {
    width: 59%;
    max-width: 500px;
}

.featureBlock {
    background-color:pink;
    font-size: smaller;
}
figcaption {
  font-size: 20px; 
  color: #000000;     
  font-style: italic;
  
  
}
.side-by-side {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  flex-wrap: wrap; 
}

.side-by-side figure {
  text-align: left;
  max-width: 400px;
}
